<configuration><packageSources><clear/><add key='local' value='C:\Users\szubk\.codex\.chatgpt-projects\g-p-6ab970b6ee4c819185032b6c02c67dc2\Windows System Monitor Trofeo\packages'/><add key='nuget' value='https://api.nuget.org/v3/index.json'/></packageSources><config><add key='globalPackagesFolder' value='C:\Users\szubk\.codex\.chatgpt-projects\g-p-6ab970b6ee4c819185032b6c02c67dc2\Windows System Monitor Trofeo\.packages-cache'/></config></configuration>
